#container button{
	margin:10px 5px;
	padding:15px;
	width:150px;
	background:#1f69b5;
	color:white;
	border:none;	
}

#container label{
	font:15px Arial, sans-serif;
	font-weight:bold;
}

input{
    padding:10px;
    margin: 20px;
    border: black solid 1px;
}

#searchBox {
	margin-left: 5px;
	border: black solid 1px;
}

label {
    font:15px arial, sans-serif;
	font-weight:bold;
}

table {
    padding: 20px;
}

#new-transaction{
	text-align:left;
	padding:30px;
	width:200px;
	margin:0;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	border:1px solid black;
	border-radius:5px;
}

#new-transaction label{
	font:15px arial, sans-serif;
	font-weight:bold;
}

#new-transaction select{
	padding:5px 0px;
	margin:10px 0px;
	width:200px;
}

#new-transaction input[type="text"]{
	padding:5px 0px;
	margin:10px 0px;
	width:196px;
	text-align:center;
}

#finishTransaction{
    margin: 0;
    margin-top: 15px;
	padding:15px;
	background:#009933;
	color:white;
	border:none;
	width:200px;
	font-size:15px;
	font-weight:bold;
}

#cancel{
	margin-top:15px;
	padding:15px;
	background:#c20f06;
	color:white;
	border:none;
	width:200px;
	font-size:15px;
	font-weight:bold;
}