#container{
	padding:0px 30px 30px;
	width:800px;
}

#container button{
	margin:10px 5px;
	padding:15px;
	width:150px;
	background:#1f69b5;
	color:white;
	border:none;	
}

#container label{
	font:15px Arial, sans-serif;
	font-weight:bold;
}

#container input{
	padding:13px;
}

#searchBox {
	margin-left: 5px;
	border: black solid 1px;
}

label {
    font:15px arial, sans-serif;
	font-weight:bold;
}

table {
    padding: 20px;
}

.new-card {
    margin-top:50px;
	text-align:left;
	padding:30px;
	width:200px;
	position:absolute;
	left:50%;
	transform:translate(-50%, 0%);
	border:1px solid black;
	border-radius:5px;
}

.new-card label, #delete-card label {
    font:15px arial, sans-serif;
	font-weight:bold;
}

.new-card select {
    padding: 15px 0 15px;
}

.new-card input[type="text"], #delete-card input[type="text"]{
	border: none;
    border-bottom: 1px solid black;
	outline:none;
	padding:5px 0px;
	margin:10px 0px;
	width:200px;
}

#add{
	margin-top:10px;
	padding:15px;
	background:#009933;
	color:white;
	border:none;
	width:204px;
	font-size:15px;
	font-weight:bold;
}

.cancel{
	margin-top:10px;
	padding:15px;
	background:#c20f06;
	color:white;
	border:none;
	width:204px;
	font-size:15px;
	font-weight:bold;
}

#delete-card {
    margin-top:50px;
	text-align:left;
	padding:30px;
	width:800px;
	position:absolute;
	left:50%;
	transform:translate(-50%, 0%);
	border:1px solid black;
	border-radius:5px;
}

#select-card {
    margin-top:10px;
	padding:15px;
	background:rgb(66, 129, 180);
	color:white;
	border:none;
	width:204px;
	font-size:15px;
	font-weight:bold;
}
