#container button{
	margin:10px 5px;
	padding:15px;
	width:150px;
	background:#1f69b5;
	color:white;
	border:none;	
}

#container label{
	font:15px Arial, sans-serif;
	font-weight:bold;
}

input{
    padding:10px;
    margin: 20px;
    border: black solid 1px;
}

#searchBox {
	margin-left: 5px;
	border: black solid 1px;
}

label {
    font:15px arial, sans-serif;
	font-weight:bold;
}

table {
    padding: 20px;
    
}